.main{
    position: fixed;
    top: 30%;
    left: 40%;
    border: 1px solid blue;
    background-color: #f3f3f3
  }
  button {
    font-size: 30px;
    padding: 10px 30px;
    border: none;
    
  }
  h1 {
    text-align: center;
    font-size: 60px;
  }
  .green {
    background-color: green;
    border-top:1px solid blue;
    border-right: 1px solid blue;
  
    
  }
  .yellow {
    background-color: yellow;
    border-top:1px solid blue;
  
    
  
  }
  .red {
    background-color: red;
    border-top:1px solid blue;
    border-left: 1px solid blue;
  
    
  }